<div id="<%= dom_id gift %>">
  <p>
    <strong>Title:</strong>
    <%= gift.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= gift.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= gift.user_id %>
  </p>

</div>
